<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线文件管理系统</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="index_background">
    <div class="mynav container-fluid">
        <span class="logo pull-left">网盘</span>
        <span class="nav-item pull-right">帮助</span>
        <span class="nav-item pull-right">关于</span>
    </div>
    <div class="container-fluid">
        <div class="col-md-2 menu no-padding">
            <ul class="no-padding">
                <li class="menu-iem fa fa-files-o fa-2">全部文件</li>
                <li class="menu-iem fa fa-file-image-o fa-2">图片</li>
                <li class="menu-iem fa fa-file-word-o fa-2">文档</li>
                <li class="menu-iem fa fa-file-video-o fa-2">视频</li>
                <li class="menu-iem fa fa-file-sound-o fa-2">音乐</li>
                <li class="separator"></li>
                <li class="menu-iem fa fa-file-o fa-2">其他</li>
                <li class="separator"></li>
                <li class="menu-iem fa fa-trash-o fa-2">回收站</li>
            </ul>
        </div>
        <div class="col-md-10 file-list-wrapper">
            <div class="file-action">
                
            </div>
            <div class="file-list"></div>
        </div>
        <div style="clear:both"></div>
    </div>
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>